<span class="pure-menu-heading">
  <%= link_to "Attendance", root_path, :class=>'pure-menu-link' %>
</span>

<ul class="pure-menu-list">
  <li class="pure-menu-item">
    <%= link_to "Home", root_path, :class=>'pure-menu-link' %>
  </li>
  <li class="pure-menu-item">
    <%= link_to "About", welcome_about_path, :class=>'pure-menu-link' %>
  </li>
  <% if user_signed_in? %>
    <li class="pure-menu-item">
      <%= link_to "Groups", user_groups_path(current_user), :class=>'pure-menu-link' %>
    </li>
  <% end %>

  <% if !user_signed_in? %>
    <li class="pure-menu-item">
      <%= link_to "Sign In", new_user_session_path, :class=>'pure-menu-link button-primary' %>
    </li>
    <li class="pure-menu-item">
      <%= link_to "Sign Up", new_user_registration_path, :class=>'pure-menu-link button-success' %>
    </li>
  <% else %>
    <li class="pure-menu-heading">
      Signed in as<br />
      <%= current_user.name %><br />
      Last known location<br />
      <%= @location %>
    </li>
    <li class="pure-menu-item">
      <%= link_to "Edit Account", edit_user_registration_path, :class=>'pure-menu-link button-secondary' %>
    </li>
    <li class="pure-menu-item">
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class=>'pure-menu-link button-warning' %>
    </li>
  <% end %>
</ul>
