<!DOCTYPE html>
<html>
  <head>
    <title>Attendance</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  </head>

  <body>
    <div class="pure-g container">
      <div class="pure-u-4-24 pure-menu">
        <%= render "layouts/nav" %>
      </div>
      <div class="pure-u-20-24 pure-g content">
        <div class="pure-u-5-5 notice-area">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
        <div class="pure-u-5-5 content-area">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
